<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="myApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bento</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="fb:admins" content="1031670302" />
        <meta name="pocket-site-verification" content="87443ab7c05b21e6b28ca571bc0e11" />
        <meta property="og:image" content="http://www.bentobox.io/images/logo.png"/>
        <meta property="og:title" content="Bento"/>
        <meta property="og:url" content="http://www.bentobox.io/"/>
        <meta property="og:site_name" content="Bento"/>
        <meta property="og:description" content="Everything you need to know about web development. Neatly packaged. Made by @jonhmchan.">
        <meta property="og:type" content="website"/>
        <meta name="description" content="Everything you need to know about web development. Neatly packaged. Made by @jonhmchan.">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <script src="javascripts/vendor/modernizr-2.6.2.min.js"></script>

        <!-- Typekit -->
        <script type="text/javascript" src="//use.typekit.net/nfk4tql.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body ng-controller="masterCtrl">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=521121077928184";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="hide" ng-hide="working">
            <div id="message" style="display: none;">
                <h1>Making some changes</h1>
                <p>Please come back in a few moments! If you want updates, tweet at me <a href="http://twitter.com/johmchan">@jonhmchan</a></p>
                <p>Developers, take a look at <a href="https://github.com/JonHMChan/bento/tree/gh-pages" target="_blank">the GitHub</a></p>
            </div>
        </div>
        <div id="container">
            <header>
                <h1>bento</h1>
                <h4 style="padding: 0px; margin: 0px;">Everything you need to know about web development. Neatly packaged.</h4>
            </header>
            <div id="box_container" class="container-fluid">
                <!-- Front end stuff -->
                <h2>Front End</h2>
                <div class="span3 box_container" ng-repeat="($index, box) in frontend">
                    <div class="box">
                        <a name="{{ box.name }}"></a>
                        <a target="_blank" class="title" href="{{ box.home }}"><h2>{{ box.name }}</h2></a>                        
                        <p>{{ box.description }}</p>
                        <div ng-repeat="($key, link) in box.links">
                            <a target="_blank" href="{{ link.url  }}" ng-show="$key < 2">{{ link.name  }}</a>
                        </div>
                        <div ng-show="box.links.length == 0">
                            <a target="_blank" href="https://github.com/JonHMChan/bento/tree/gh-pages" class="nolink">No links yet! Add one</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow-container"><i class="icon-arrow-down icon-3x"></i></div>
            <div id="box_container" class="container-fluid">
                <h2>Back End</h2>
                <div class="span3 box_container" ng-repeat="($index, box) in backend">
                    <div class="box">
                        <a name="{{ box.name }}"></a>
                        <a target="_blank" class="title" href="{{ box.home }}"><h2>{{ box.name }}</h2></a>                        
                        <p>{{ box.description }}</p>
                        <div ng-repeat="($key, link) in box.links">
                            <a target="_blank" href="{{ link.url  }}" ng-show="$key < 2">{{ link.name  }}</a>
                        </div>
                        <div ng-show="box.links.length == 0">
                            <a target="_blank" href="https://github.com/JonHMChan/bento/tree/gh-pages" class="nolink">No links yet! Add one</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sugar -->
        <script src="http://sugarjs.com/release/current/sugar.min.js"></script>

        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

        <!-- Underscore -->
        <script src="http://underscorejs.org/underscore-min.js"></script>

        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <!-- Ribbon -->
        <script type="text/javascript" src="javascripts/ribbon-modal.mod.js"></script>

        <script src="javascripts/plugins.js"></script>
        <script src="content_backup.js"></script>
        <script src="javascripts/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    </body>
</html>
